.new-project-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    .new-project-modal-input {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
        padding: 10px;
        background-color: white;
        border-radius: 10px;

        .new-project-form {
            flex-grow: 1;
            margin: 1em 0em;
            overflow: scroll;
        
        }

        .buttons {
            margin-bottom: auto;
            border-radius: 10px;
            text-align: right;
        }

    }
}

