/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  outline: none; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 150%; }

h2 {
  font-size: 130%; }

h3 {
  font-size: 120%; }

button {
  background-color: lightblue; }

.button {
  margin: 2px;
  width: 100px;
  height: 35px;
  border-radius: 5px; }

.button:hover {
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc; }

.button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.submit {
  background-color: lightgreen; }

.close {
  background-color: lightcoral; }

.menu {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 100vw;
  background-color: greenyellow;
  min-height: 50px; }

.sidebar {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: calc(100vh - 50px);
  background-color: rebeccapurple; }

.sidebar-body {
  display: inline-block;
  width: 350px;
  background-color: pink;
  overflow: scroll;
  text-align: center; }
  .sidebar-body .heading {
    margin: 0.5em; }

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .project-list .project-list-node {
    cursor: pointer;
    text-align: left;
    margin: 10px auto 5px auto;
    padding: 10px;
    width: 80%;
    min-height: 100px; }
    .project-list .project-list-node button {
      cursor: pointer;
      float: right; }

.new-project-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }
  .new-project-modal .new-project-modal-input {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: white;
    border-radius: 10px; }
    .new-project-modal .new-project-modal-input .new-project-form {
      flex-grow: 1;
      margin: 1em 0em;
      overflow: scroll; }
    .new-project-modal .new-project-modal-input .buttons {
      margin-bottom: auto;
      border-radius: 10px;
      text-align: right; }

.main {
  display: flex;
  flex-direction: row; }

/*# sourceMappingURL=index.css.map */
